*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

header {
    text-align: center;
    background: darkblue;
    color:white;
    height:15vh;
}

#start-game{
    font-size:200%;
    background:gold;
    color:darkblue;
    padding:5px;

}